@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

nav {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #24252A;
    min-height: 8vh;
    font-family: "Noto Serif", sans-serif;
    min-width: 100%;
}

nav * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    color: #EDF0F1;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #EDF0F1;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover {
    color: #0088A9;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 2px;
    background-color: #EDF0F1;
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1501px) {
    .nav-links {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #24252A;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
