.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.2s;
}

.menu-wrap .toggler:hover + .hamburger {
    color: #255784;
    background-color: rgba(13, 110, 139, 0.75);
    box-shadow: 0 0 10px rgba(13, 110, 139, 0.75), 0 0 40px rgba(13, 110, 139, 0.75), 0 0 80px rgba(13, 110, 139, 0.75);
    transition-delay: 0.01s;
}

/* hamburger line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* top and bottom lines */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: inherit;
}

/* moves line down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
}

/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background-color: rgba(24, 39, 51, 0.90);
    border-radius: 50%;
    width: 400vw;
    height: 400vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #FFF;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > .active {
    color: rgb(105, 105, 105);
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    color: rgb(13, 110, 139);
    text-shadow: 0 0 10px rgb(13, 110, 139), 0 0 40px rgb(13, 110, 139), 0 0 80px rgb(13, 110, 139);
    transition-delay: 0.01s;
}

.menu-wrap .menu > div > div > ul > .active > a {
    cursor: default;
}

.menu-wrap .menu > div > div > ul > .active > a:hover {
    color: rgb(105, 105, 105);
    text-shadow: 0 0 10px rgb(105, 105, 105), 0 0 40px rgb(105, 105, 105), 0 0 80px rgb(105, 105, 105);
    transition-delay: 0.01s;
}
