@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

:root {
    --main-color: rgb(13, 110, 139);
    --main-color-with-opacity: rgba(13, 110, 139, 0.75);
    --main-color-dark: rgba(24, 39, 51, 0.90);
    --disabled-color: rgb(105, 105, 105);
    --secondary-color: #255784;
}

body {
    overflow: hidden;
    margin: 0;
    font: normal 16px Arial, Helvetica, sans-serif;
    color: #FFF;
    overflow-x: hidden;
}

.content {
    position: absolute;
    background-color: rgba(27, 27, 29, 0.5);
    width: 100%;
    min-height: 20%;
    text-align: center;
    padding: 5vw;
    z-index: 0;
}

#particles-js h1 {
    font-family: Impact, sans-serif;
    text-shadow: 2px 2px 2px #333;
    padding: 0;
    margin: 0;
    font-size: 2vw;
}

#particles-js p {
    margin: 0;
    padding: 0;
    font-size: 1vw;
}

@media screen and (max-width: 813px) {
    #particles-js h1 {
        font-size: 25px;
    }
    #particles-js {
        font-size: 20px;
    }
    #particles-js h1 {
        font-size: 5vw;
    }
    
    #particles-js p {
        font-size: 2vw;
    }
}
